
.card-tinder {
    position: relative;
    width: 700px;
    padding: 20px;
    max-width: 85vw;
    height: 60vh;
    border-radius: 20px ;
    background-size: cover;
    background-position: center;

  }
  
  .card-tinder h2 {
    position: absolute;
    bottom: 10px;
    color: white;
  }
  
  .cards-profiles {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .container-cards {
    display: flex;
    max-width: 700px;
    justify-content: center;


  }
  
  .swipe {
    position: absolute;
  }
  
.cards-and-buttons{
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

@media (min-width: 350px) and (max-width: 768px) {

    .card-tinder {
        margin-top: 1rem;
        position: relative;
        width: 700px;
        padding: 20px;
        max-width: 85vw;
        height: 60vh;
        border-radius: 20px ;
        background-size: cover;
        background-position: center;
        
      }


      .cards-profiles {
        display: flex;
        justify-content: center;
        align-items: center;
      }
      
      .container-cards {
        display: flex;
        max-width: 700px;
        justify-content: center;
    
    
      }
  }
  