.cards-and-buttons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container-cards {
  display: flex;
  justify-content: center;
}

.swipe {
  position: absolute;
  touch-action: none !important;
}

.card-tinder {
    position: relative;
    width: 700px;
    padding: 20px;
    max-width: 85vw;
    height: 60vh;
    border-radius: 20px;
    background-size: cover;
    background-position: center;
  }
  
  .card-tinder h2 {
    position: absolute;
    bottom: 10px;
    color: white;
  }
  
  .btnAction{
    display: flex;
    width: 100%;
    position: absolute;
    bottom: 0vh;
    justify-content: space-evenly;
    padding: 0.5rem;
}

.btnAction .MuiButtonBase-root {
    background-color: white;
    box-shadow: 0px 3px 20px rgba(0, 0, 0, 0.353);

}

.btnAction-replay{
    padding: 3vw !important;
    color: orange !important;
}

.btnAction-close{
    padding: 3vw !important;
    color: rgb(187, 29, 29) !important;
}
.btnAction-star{
    padding: 3vw !important;
    color: rgb(64, 142, 211)!important;
}
.btnAction-fav{
    padding: 3vw !important;
    color: rgb(82, 165, 82)!important;
}
.btnAction-flash{
    padding: 3vw !important;
    color: purple!important;
}