.fullConversation{
    background-color: rgba(240, 248, 255, 0.512);
    padding: 10px;
    margin-top: 1rem;
    border-radius: 5px;
    min-height: 100vh;
}
.timestampConversation{
    text-align: center;
    color: rgb(170, 170, 170);
    margin-bottom: 1rem;
}
.oneMSG{
    display: flex;
    align-items: center;
    padding: 10px;
}
.msgText_received{

    margin-left: 10px;
    background-color: rgba(240, 128, 128, 0.543);
    border-radius: 20px;
    color: aliceblue;
    align-content: center;
    padding: 1rem;
}
.msgText_send{
    margin-left: auto;
    background-color: rgb(110, 202, 233);
    border-radius: 20px;
    color: whitesmoke;
    align-content: center;
    padding: 1rem;

}

.inputChat{
    display: flex;
    padding: 5px;
    position: fixed;
    bottom: 0;
    width: 100%;
    border-top: 1px solid rgba(255, 182, 193, 0.466);
}
.inputChat > input{
    flex: 1;
    padding: 20px;
    border: none;
    outline: none;
}

.inputChat > button{
    border: none;
    background-color: lightgray;
    margin-right: 20px;
    font-weight: bold;
    color: rgba(89, 88, 88, 0.395);
    padding: 15px;
    border-radius: 5px;
    display: flex;
    align-items: center;
}