#root {

  width: 100vw;
  min-height: 100vh;
  overflow: hidden;
  background: linear-gradient(#d1171740, #ffffff);
}




  @media  (min-width: 350px) and (max-width: 768px) {
    body {
      overflow: hidden !important;
    }
  }
  